@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

html {
    font-size: 14px;
    scrollbar-width: thin;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #06191D;
    scrollbar-width: none;
}



.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
    filter: invert(100%) hue-rotate(180deg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
    filter: invert(100%) hue-rotate(180deg);
}

.card-img-top {
    width: 350px;
    height: 400px;
    float: right;
    border-radius: 50%;
    margin-right: 25px;
}

.text-custom {
    color: #E6E6FA;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    letter-spacing: 0.7px;
}

.custom-img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: opacity 0.5s ease-in-out;
}

    .custom-img:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

.custom-wrap {
    outline: 0.1px solid pink;
    padding: 15px;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: -10px;
}

.custom-title {
    margin-left: 25px;
    margin-bottom: 30px;
}

.accordion-button:focus {
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.wraper-contact {
    display: flex;
    flex-direction: row;
    background-image: url("/images/contactus-bg.jpg");
    overflow: auto;
    background-size: cover;
    height: 100vh;
}

    .wraper-contact iframe {
        margin-left: 150px;
        margin-top: 20px;
        border-radius: 15px;
        outline: 0.7px solid pink;
        width: 500px;
        height: 325px;
    }

    .wraper-contact form {
        flex-basis: 50%;
        margin-left: 25px;
    }

.contact-nav {
    float: right;
}

.banner-home {
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.banner-home {
    position: relative;
    border-radius: 0 0 5px 5px;
}

    .banner-home .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
    }

.navbar {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    background-image: url("/images/pattern-home.jpg");
    background-size: cover;
}

.nav-link {
    text-align: center;
    margin-top: 35.8px;
    font-size: 1rem;
}

.custom-faq {
    background-image: url("/images/FAQ-photo.jpg");
    overflow: auto;
    height: 100vh;
    background-size: cover;
}

.custom-homebg {
    background-image: url("/images/pattern-home.jpg");
    overflow: auto;
    background-size: cover;
}

.footer {
    background-image: url("/images/pattern-home-footer.jpg");
    overflow: auto;
    background-size: cover;
}
